
body {
    background-color:#131F29
   

}

h1 {
    text-align: center;

    color: rgb(144, 166, 255);
} 

h2{
    color: rgb(120, 199, 120)
}
 p{
    color: rgb(144, 166, 255);
    text-align: center;
 }

.header{
    color: rgb(144, 166, 255);
    display: grid;
    grid-auto-flow: column;
    column-gap: 550px;
    justify-content: center;
    align-items: center;
    
}

.image{

    border: 2px dotted rgb(144, 166, 255);
    width: 30%;
    margin-left: auto;
    margin-right: auto;

}

img {
    max-width: 100%;
    height: auto;
}

#like-button{
    background-color: #c280ff;
    color:whitesmoke;
    font-size: 16px; 
    font-weight: bold; 
    padding: 3px 15px; 
    border: none; 
    border-radius: 25px;


}
.active {
    background: rgb(78, 107, 67)
    


}