.map-container {
    position: relative;
    width: 100;
    overflow: hidden;

}
.map-container img{
    width: 100%;
    transition: transform 0.5s ease-in-out, opacity 1.5s cubic-bezier(1, 0.6, 0.2, 0);
    
    border: 10px rgb(245, 230, 137);
    border-radius: 25px;


}

.map-container area{
    cursor: url(cursor.PNG), pointer;
}


.map-container.zoomed img {
    transform: scale(2);
    transform-origin: center;
    opacity: 0.8; 


}